body {
  background-color: #c4a9e5;
}

h3 {
  font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 16pt;
  color: black;
}

p.subheader {
  font-weight: bold;
  color: #000;
}

div {
  font-weight: bold;
  color: #000;
  margin: 5px;
}