body {
  background-color: powderblue;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: slateblue;
}

h2 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 18pt;
  color: mediumseagreen;
}

h3 {
  font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 16pt;
  color: violet;
}

p.subheader {
  font-weight: bold;
  color: #593d87;
}

div {
  font-weight: bold;
  color: #ee6d9e;
  margin: 5px;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #8094d6;
}

a:hover,
a:active {
  color: #f93;
}

div.footer {
  font-size: 9pt;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 30pt;
}
